#app {
    background-color: #323232;
}

#gene-editor {
    height: 500px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 10px 30px;
    background-color: #323232;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
}

#gene-editor .header {
    margin-bottom: 10px;
    color: #fff;
}

#gene-editor textarea {
    background-color: #292929;
    color: #fff;
    font-family: Consolas monospace;
    font-size: 20px;
    flex: 1;
    margin-bottom: 10px;
    border-color: #323232;
}

#gene-editor textarea:focus {
    outline: none;
}

#gene-editor button {
    width: 180px;
    height: 30px;
    background-color: rgb(107, 164, 255);
    border-radius: 10px;
    font-size: 17px;
    color: #292929;
    border: none;
}

#gene-editor .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#gene-editor button:focus {
    outline: none;
}

#gene-editor button:active {
    background-color: rgb(79, 146, 255);
}